<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="SIM_CER_ROBOT">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import SIM_CER_ROBOT urdf file -->
    <xacro:include filename="$(find cer_description)/urdf/cer.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="SIM_CER_ROBOT.ros2_control.xacro" />


    <xacro:SIM_CER_ROBOT_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
