<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="SIM_CER_ROBOT_ros2_control" params="name:=^|ArmCbHwPosVel initial_positions_file input_node:=^|arms_cb_hw_pos_vel input_msgs_name:=^|ros2_cb_msgs input_joint_states_topic:=^|/joint_states input_cont_pos_write:=^|false">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>

                <plugin>cb_hw_fw_pos_read_pos_vel/CbHwFwPosReadPosVel</plugin>
                <param name="node_name">${input_node}</param>
                <param name="cb_nws_msgs_name">${input_msgs_name}</param>
                <param name="joint_states_topic">${input_joint_states_topic}</param>
                <param name="continuous_pos_write">${input_cont_pos_write}</param>

            </hardware>
            <joint name="l_shoulder_pitch_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_shoulder_pitch_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_shoulder_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_shoulder_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_shoulder_yaw_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_shoulder_yaw_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_elbow_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_elbow_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_wrist_pronosupination_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_wrist_pronosupination_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_wrist_heave_eq_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_wrist_heave_eq_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_wrist_roll_eq_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_wrist_roll_eq_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
